

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 52, 35);
}

.counter-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: black;
  gap: 20px;
  max-width: 80%;
  max-height: 60%;
  height: 400px;
  width: 300px;
}
.counter {
  font-size: 24px;
  color: aliceblue;
  border: 2px solid wheat;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 40px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: deepskyblue;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 480px) {
  .App,
  .counter-box {
    width: 100%;
    height: 100vh;
    /* Optionally, you can set other styles as needed */
    /* For example: */
    /* padding: 10px; */
    /* margin: 0; */
    /* display: block; */
    /* etc. */
    display: block;
  }
}